html,
body {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  background-color: #222;
  color: #fff;
  margin: 0;
}
body.status-page {
  background-color: transparent;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.toolbar {
  padding: 1rem;
}
.toolbar button {
  margin-right: 0.5rem;
}
.status-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.status-container {
  background-color: #333;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border-left: 20px solid #333;
  height: 100%;
  align-items: center;
  font-size: calc(0.5em + 1vw);
}
.status-container:first-child {
  border-bottom: 1px solid #444;
}
.status-container.status-connecting {
  border-left-color: #888;
  color: #aaa;
}
.status-container.status-disconnected {
  border-left-color: #b54632;
}
.status-container.status-connected {
  border-left-color: #77c970;
}
.status-container.status-disconnected .status-value {
  color: #b54632;
}
.status-container.status-connected .status-value {
  color: #77c970;
}
.status-container.status-connected .status-help {
  display: none;
}

.status-container .status-icon {
  width: 20vh;
  max-width: 150px;
  margin-right: 2rem;
  padding: 1rem;
}
.status-container .status-content {
}
.status-container .status-icon img {
  width: 100%;
}
.status-container .status-label {
  font-size: calc(0.8em + 1vw);
  /* font-size: 1.5vw; */
  margin-bottom: 0.5rem;
}
.status-container .status-value {
  font-weight: bold;
}
.status-container .status-help {
  font-style: italic;
  font-size: 12px;
  margin-top: 0.5rem;
}

.debug-log {
  height: 300px;
  background-color: #101010;
}
.debug-log-content {
  font-family: monospace;
}

#test-shot {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.form-field {
  box-sizing: border-box;
  display: grid;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
}

.form-field label {
  flex-grow: 1;
  padding: 5px 0;
  font-size: 0.8rem;
  color: #aaa;
}

.shot-button {
  width: 100%;
  padding: 1rem 0 0 1rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: opacity 70ms linear;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-dialog {
  background-color: #333;
  max-width: 640px;
  padding: 20px;
  margin: 20px auto;
}
.modal-header {
  margin: 0;
}

input[type='text'],
input[type='number'] {
  flex-grow: 1;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #101010;
  padding: 0.75rem;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
}
button {
  padding: 0.5rem 1rem;
  background-color: #6290c3;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
button:hover {
  background-color: #89abd2;
}
button:active {
  background-color: #3e6da3;
}
button.secondary {
  background-color: #555;
}
.button-bar {
  margin-top: 2rem;
}

.status-indicator {
  background-color: #77c970;
  width: 290px;
  height: 50px;
}

[class^='icon-'],
[class*=' icon-'] {
  position: relative;
  top: 1px;
}

.spin {
  display: inline-block;
  animation: spinner 2s infinite linear;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
