html,
body {
  height: 100%;
}
body {
  background-color: #202020;
  margin: 0;
  padding: 0;
}

pre.debug {
  background-color: #101010;
  margin: 0;
  padding: 1rem;
  border-radius: 4px;
}
#root {
  height: 100%;
}
